/*Dan McGonigle
This document contains all the CSS for the entire suite of webpages*/

* {
  box-sizing: border-box;  /*default is "content-box", whose size is affected by the padding and border thickness.  border-box is not*/
	margin: 0;
	padding: 0;
}

html, body {
	height: 100vh;  /*vh and vw are percentages of the viewport window height and width, respectively*/
	width: 100vw;
	background: rgb(/*apricot*/247,136,47);  /*These background colors/gradients are backup for image failure*/
	background: -webkit-linear-gradient(rgb(/*brownish*/86, 82, 10), rgb(/*apricot*/247,136,47)); /* For Safari 5.1 to 6.0 */  
	background: -o-linear-gradient(rgb(/*brownish*/86, 82, 10), rgb(/*apricot*/247,136,47)); /* For Opera 11.1 to 12.0 */  
	background: -moz-linear-gradient(rgb(/*brownish*/86, 82, 10), rgb(/*apricot*/247,136,47)); /* For Firefox 3.6 to 15 */ 
	background: linear-gradient(rgb(/*brownish*/86, 82, 10), rgb(/*apricot*/247,136,47)); /* Standard syntax */ 
	background: url('img/trees.jpeg');
	background-size: cover;
}

/*headline and font-size grouping*/
h1 {
	font-size: 2.4em;
	font-weight: 900;
	vertical-align: center;
	text-align: center;
}

h2 {
	font-size: 2.2em;
	font-weight: 500;
}

h3 {
	font-size: 1.8em;
	font-weight: 300;
}

h4 {
	font-size: 1.5em;
}

p {
	font-size: 1.2em;
}


/*the pageWrapper class sets the window to be centered and 960px wide*/
.pageWrapper {
	width: 960px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.5);
}

header {
	width: 960px;
	height: 15vh;
	min-height: 80px;
	top: 0px;

	background: rgb(/*apricot*/247, 136, 47);
	background: -webkit-linear-gradient(rgb(/*brownish*/86, 82, 10), rgb(/*apricot*/247,136,47), rgb(/*brownish*/86, 82, 10)); /* For Safari 5.1 to 6.0 */  
	background: -o-linear-gradient(rgb(/*brownish*/86, 82, 10), rgb(/*apricot*/247,136,47), rgb(/*brownish*/86, 82, 10)); /* For Opera 11.1 to 12.0 */  
	background: -moz-linear-gradient(rgb(/*brownish*/86, 82, 10), rgb(/*apricot*/247,136,47), rgb(/*brownish*/86, 82, 10)); /* For Firefox 3.6 to 15 */ 
	background: linear-gradient(rgb(86, 82, 10), rgb(247,136,47), rgb(86, 82, 10));
	
	border:3px solid rgb(/*brownish*/86, 82, 10);	overflow: auto;
	overflow-y: hidden;
	/*-ms-overflow-y: hidden; //IE 8 */
}

/*Home icon div, set to flexbox for ease of vert and horiz centering*/
.headerHome {
	display: flex;			
	align-items: center;
	justify-content: center;
	height: 100%;
	float: left;
}

.headerHome img {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	margin: 0px 20px;
}

/*navigation bar*/
ul.nav {
	display: flex;			
  align-items: center;
  justify-content: center;
	height: 100%;
	float: left;
	top: 0px;
	list-style-type: none;
	color: #ffffff;
}

.nav a {
	height: 100%;
}

li.navbtn {
	display: flex;			
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0px 35px;
	float: left;

	
	font-family: 'Roboto', 'Times', sans-serif;
	font-weight: 900;
	text-align: center;
}
	
aside {
	width: 200px;
	height: 75vh;
	float: left;
	overflow: auto;
}

aside h2 {
	margin: 20px 0px;
	font-family: 'Cookie','Times',cursive;
	text-align: center;
	color: white;
}

aside p, aside ul {
	font-family: 'Times',cursive;
	font-weight: 900;
	color: white;	
}

aside ul {
	margin-left: 10px;
}

div.accordion {
	width: 100%;
	height: 80%;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: rgba(107,122,143,0.5); /*blueberry*/
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
	font-style: italic;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: rgba(107,122,143,0.8); /*blueberry*/
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
		position: relative;
    padding: 0 18px;
		/*margin-bottom: 18px;*/
    background-color: rgba(247,195,49,0.5); /*citrus*/
    display: none;
}

div.panel:hover {
	background-color: rgba(247,195,49,0.8); /*citrus*/
}

.headlineBanner {
	position: relative;
	width: 100%;
	padding: 5px 0px 15px 0px;
	background-color: rgba(247,195,49,0.5); /*citrus*/
	font-family: 'Sanchez', 'Times', cursive;
	color: white;
}


/*this is the "projected" text underneath MSCS*/
.projected {
	position: absolute;
	right: 60px;
	bottom: 6px;
	font-family: 'Sanchez', 'Times', cursive;
	font-style: italic;
	font-size: 20px;
	z-index: 1;
}

/*main content div*/
.contentArea {
	position: relative;
	width: 760px;
	height: 75vh;
	overflow: hidden;
}

.mainContent {
	width: 100%;
	height: 100%;
}

.mainDisplay {
	position: absolute;
	bottom: 50px;
	width: 100%;
	max-height: 76%;
	background-color: rgba(255,255,255,0.5);
	color: black;
	overflow: auto;
}

.mainText {
	padding: 20px 50px 0px 50px;
}

.mainDisplay .developmentTeam {
	height: 350px;
	width: 400px;
	border-radius: 50%;
	margin: 20px 180px;
}

/*<!--testing-->*/
.mainDisplay .main {
	list-style-type: circle !important;
	padding: 10px 50px 10px 50px;
}

.form {	
	position: absolute;
	bottom: 50px;
	width: 100%;
	max-height: 76%;
	background-color: rgba(107,122,143,0.5); /*blueberry*/
	color: white;
	display: none;  /*brought into display with jQuery slideToggle()*/
	overflow: auto;
}

.form form * {
	margin: 10px 10px;
}

.formSubmit, .formClear {
	text-align: center;
}

input[type=submit], .formClear p {
	font-family: 'Times', serif;
	font-size: 12px;
	font-weight: 900; 
	padding: 15px 30px;
}

.contactBanner img:nth-of-type(1) {  /*arrow left of "Contact"*/
	height: 100%;
	top: 0%;
	float: left;
}

.contactBanner img:nth-of-type(2) {   /*arrow right of "Contact"*/
	height: 100%;
	top: 0%;
	float: right;
}

/*click this banner for slideToggle()*/
.contactBanner {
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0px;
	background-color: rgba(247,195,49,0.5); /*citrus*/
	border-radius: 25px;
	font-family: 'Sanchez', 'Times', cursive;
	color: white;
	text-align: center;
	overflow: hidden;
	z-index: 2;
}

footer {
	position: fixed;
	width: 960px;
	height: 10vh;
	min-height: 60px;
	bottom: 0px;
	text-align: center;
	font-family: 'Sanchez', 'Times', cursive;
	color: white;
	left: 50%;
	transform: translateX(-50%);
	overflow: auto;
	overflow-y: hidden; 
    background-color: rgba(107,122,143,0.5); /*blueberry*/
}

#footerText {
	padding-top: 5px;
}
